{extend name='public/master'}
{block name='content'}
<link rel="stylesheet" href="__ROOT__/index/css/news.css">
<div class="containerself" id="news">
    <div class="pull-left">
        <div class="clearfix abtitle">
            <h4 class="pull-left">救援联盟</h4>
            <div class="pull-right">
                您当前的位置：
                <a href="">救援联盟</a>
                <a href="javascript:;">详情</a>
            </div>
        </div>
        <div class="abcontent">
            <div class="content-top">
                <h3>{$data.title}</h3>
                <div class="time">
                    <span>时间：{$data.create_time}</span>
                    <span>阅读量：{$data.reads}</span>
                </div>
            </div>
            <div class="content-center">
                <img src="img/aboutconetent.jpg" class="img-responsive" alt=""/>
                <div>{$data.content}</div>
                <ul class="pager">
                    {if condition="$up==0"}
                    <li class="previous"><a href="javascript:;">&larr; 没有了</a></li>
                    {else /}
                    <li class="previous"><a href="{:url('index/union/content',['nid'=>$up])}">&larr; 上一篇</a></li>
                    {/if}
                    {if condition="$down==0"}
                    <li class="next"><a href="javascript:;">没有了 &rarr;</a></li>
                    {else /}
                    <li class="next"><a href="{:url('index/union/content',['nid'=>$down])}">下一篇 &rarr;</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <div class="box news">
            <h4>新闻动态</h4>
            <ul>
                {volist name="$xinData" id="vo"}
                <li><a href="{:url('index/news/newscontent',['nid'=>$vo.nid])}">{$vo.title}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="box fangzai">
            <h4>防灾减灾</h4>
            <ul>
                {volist name="$fangData" id="vo"}
                <li><a href="{:url('index/news/newscontent',['nid'=>$vo.nid])}">{$vo.title}</a></li>
                {/volist}
            </ul>
        </div>
        <div class="box zixun">
            <h4>救援行动</h4>
            <ul>
                {volist name="$xingData" id="vo"}
                <li><a href="{:url('index/news/newscontent',['nid'=>$vo.nid])}">{$vo.title}</a></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{/block}