<div class="pull-right">
    <div class="box news">
        <h4>新闻动态</h4>
        <ul>
            <li><a href="#">厚天简介</a></li>
            <li><a href="#">组织架构</a></li>
            <li><a href="#">厚天简介</a></li>
            <li><a href="#">组织架构</a></li>
        </ul>
    </div>
    <div class="box fangzai">
        <h4>防灾减灾</h4>
        <ul>
            <li><a href="#">巴布亚新几内亚7.5级地震已造成10人遇难</a></li>
            <li><a href="#">浙江举办社会救援力量初级山地救援培训</a></li>
            <li><a href="#">第四届公众减灾教育论坛在荣成举行</a></li>
            <li><a href="#">四川省成立“省社会力量参与防灾救灾</a></li>
            <li><a href="#">社会力量参与救灾培训班在京举办</a></li>
        </ul>
    </div>
    <div class="box zixun">
        <h4>最新资讯</h4>
        <ul>
            <li><a href="#">南方强对流天气致12人死亡</a></li>
            <li><a href="#">江苏省兴国县出资为当地曙光救援队购买救援物资</a></li>
            <li><a href="#">四川省社会力量参与防灾减灾救灾统筹中</a></li>
            <li><a href="#">第四届公众减灾教育论坛在荣成举行</a></li>
            <li><a href="#">巴布亚新几内亚7.5级地震已造成10人遇难</a></li>
        </ul>
    </div>
</div>