{extend name='public/master'}
{block name='content'}
<link href="__ROOT__/index/css/jksuccess.css" rel="stylesheet" type="text/css">
<div class="containerself">
    <div  id="jksuccess">
        <h4>恭喜您，<span style="color: #e60012">捐款成功</span></h4>
        <p>
            捐款编号：<span>656548789***8836</span>
            捐款金额：<span>1000元</span>
            <span>( 感谢您的爱心 )</span>
        </p>
        <div>
            <div class="back">您还可以：
                <a href="index.html" class="active">返回首页</a>
                <a href="gongyi.html">撤回，重新捐款</a>
                <span>（ 如有疑问，请联系我们 ）</span>
            </div>
            <p><span>*温馨提示：</span>请妥善保管 好您的捐款信息。</p>
        </div>
    </div>
</div>
{/block}